<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>"butwhy" Blog</title>
    <meta charset="utf-8">
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/blog.css">
  </head>
  <div class="header" style="text-align: right;">
    <a href="index.html">Home</a>
    <a href="all-posts.html">View all blog-posts</a>

  </div>

  <body>
    <!-- much here to be styled, will do so in last secTion??? -->
    <header>
      <h1 style="text-align: center;">"but why?"</h1>
      <h2 style="text-align: center;"> The mysterious animal questions you. </h2>
    </header>

    <div>
    This image I found commonly posted on the internet, often times paired with a powerful or intriguing question. It fit perfectly and it felt as though the fuzzy white creature was sitting down right beside you shrugging his shoulders, becoming your mental guide, leading your mind into thoughts that you had never before considered.
    </div>
    <img class="image" src="images/butwhycopy.jpg" height="400px">
    <div style="width: 600px; margin 20 px 0;display: block; margin: 0 auto; background-color: #ddd; padding: 20px;">
          <blockquote style="font-style: italic; font-size: 20px;background-color: #6cc; padding: 20px;">

        <p> >I'm trying to free your mind. But I can only show you the door. <span style="font-weight: bold; font-size: 19px; ">You're the one</span> that has to walk through it. </p>
      </blockquote>

<p>-Morpheus<p>
      <h4>what i think</h4>
      <p>I think that this currious animal is the perfect symbol for curiousity. Everything about him speaks that, even his form is curious In that we do not know what it is. He resemples a squirrel, a rabbit, perhaps a cat? some sort of opposum? His eyes are dark like midnight, but deep inside you can see light reflecting back out at you. His fingers outstretch almost as though he wishes to grasp something. His body is in the shape of a man, making his personage seem even more mysterious, to think that he has the shape of man, suggests that his mind may be able to reach man's thoughts. If that is the case this is no animal, rather a mind as powerful as you or I.
      <br>

      The environment that he is in is strange, intriguing and unateral. A brown wall behind him and a strange brown cube upon which he sits.
      <br>

      Now consider what it is that his question is, look deep into his eyes, the words that remain unsaid upon his fuzzy white lips... The question he has for you is simple, one of the most simple questiones imaginable, but as unending as the open sea. A question meant for your, yet it stands almost as a statement of disposition a statement that fights against the established fact;<span style="font-weight: bold; font-size: 18px; "> "but why?"</span> </p>
    </div>

    <div>
    <p>Click on a picture to see what i think of it.</p>
    </div>
    <ul class="newpick">
          {%include park_benchpiclist.html%}
          {%include mothpiclist.html%}
          {%include mushroompiclist.html%}
      </ul>
  </body>
</html>
